nltk==3.5
transformers==4.1.1
flask
flask-cors==3.0.10
boto3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
filelock==3.0.12
future==0.18.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
MarkupSafe==1.1.1
nltk==3.5
numpy==1.19.5
packaging==20.8
pyparsing==2.4.7
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
six==1.15.0
transformers==4.1.1
tokenizers==0.9.4
tqdm==4.56.0
urllib3==1.26.2
Werkzeug==1.0.1
wikipedia
sentence_transformers
sklearn
newspaper3k
yake
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0+cpu
